* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #fff;
    background-color: whitesmoke;
    font-family: 'Oxygen', sans-serif;
}

.background_image {
    background-image: url('../images/background_home.jpg');
    background-size: cover;
    background-repeat: repeat;
    height: 10;
}

#navbarNavDropdown {
    font-size: 30px;
}

.nav-item {
    margin: 12px;
}

.news a{
    color: bisque;
    text-decoration: none;
    font-family: 'Grape Nuts', cursive, 'Dancing Script', cursive;
    font-size: 40px;
    margin: 10px;  
}

.carousel-inner {
}

.carousel-item {
}









.img-tiles {
    color: red;
}



