* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #fff;
    background-color: whitesmoke;
    font-family: 'Oxygen', sans-serif;
}

.background_image {
    background-image: url('../images/background_home.jpg');
    background-size: cover;
    background-repeat: repeat;
    height: 10;
}

#navbarNavDropdown {
    font-size: 30px;
}

.nav-item {
    margin: 12px;
}

.news {
    padding-top: 30px;
}

.news a{
    color: bisque;
    text-decoration: none;
    font-family: 'Grape Nuts', cursive, 'Dancing Script', cursive;
    font-size: 40px;
    margin: 10px;  
}

.about {
    background-color: #d4f0f0;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.about h2 {
    margin: 20px;
    color: #b0c4de;
}

.about-content {
    color: black;
    margin: 20px;
    text-align: center;
}

.clubs-tiles h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
}
















/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        width: 10vh;
        height: 10vh;
    }
    .about-content {
        font-size: 30%;
    }
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
    .logo {
        width: 10vh;
        height: 10vh;
    }
    .about-content {
        font-size: 30%;
    }
}


/********** Super extra small devices Only **********/
@media (max-width: 479px) {
    .logo {
        width: 10vh;
        height: 10vh;
    }
    .about-content {
        font-size: 30%;
    }
}








.img-tiles {
    color: red;
}



